{
    font-familr:Arial
    front-size: 16px;
}

body{
    background-color: rgb(51, 51, 163);
}
main{
    background-color: aqua;
    width: 500px;
    margin: auto;
    padding: 10px ;
    box-shadow: 3px 3px 5px ;
}